.breadcrumbs {
    padding: 10px 0 10px 80px;
    
    .breadcrumbs-path {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .breadcrumbs-item-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 170%;
        color: #000000;
    }
      
    .breadcrumbs-item-active-link {
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        color: #000000;
    }
      
    .breadcrumbs-item-line {
        display: flex;
        align-items: center;
    }

  }

  @media (max-width: 800px) {
    .breadcrumbs {
        display: none;
      }
  }